:root {
    /* Cores */
    --primary-color: #F2820E;
    --shaded-orange: #d9730b;
    --off-white: #fefffe;
    --pure-white: #ffffff;
    --text-main: #2C3E50;
    --text-secondary: #4d5151;
    --border-light: #e0e0e0;
    --bg-footer: #F0F4F8;

    /* Efeitos & Formas */
    --faint-shadow: 0 4px 15px rgba(0,0,0,0.05);
    --heavy-shadow: 0 8px 30px rgba(0,0,0,0.12);
    --standard-border: 50px;
    --card-radius: 12px;
    
    /* Animações */
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--off-white);
    color: var(--text-main);
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Elementos globais */
a { text-decoration: none; color: inherit; transition: var(--transition); }
ul { list-style: none; }
button { cursor: pointer; border: none; font-family: inherit; }
img { display: block; max-width: 100%; }

/* Classes de atributos */
.text-highlight { color: var(--primary-color); }
.text-center { text-align: center; }
.flex-center { display: flex; justify-content: center; align-items: center; }
.w-100 { width: 100%; }
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }
.zero-padding { padding: 0;}
.hidden-mobile { display: block; }

/* Classes Default */
.section-tittle{
    text-align: center; font-size: 1.4rem;
}

/*  #region ---- Headers ---- */

    .navbar {
        background-color: var(--off-white);
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        transition: var(--transition);
    }

    .menu-container {
        width: 90%;
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brand {
        display: flex; align-items: center;
        text-transform: uppercase;
        transition: var(--transition);
    }
    .brand:hover { transform: scale(1.02); }

    .brand-icon { height: 60px; margin-right: 6px; }

    .brand-text { display: flex; font-weight: 900; flex-direction: column; align-items: center; }
    .brand-sup { font-size: 1.4em;}
    .brand-sub { font-size: 1.1em;line-height: 1; }

    .nav-list {
        display: flex; align-items: center; gap: 35px;
    }

    .nav-link {
        font-weight: 500;
        display: inline-block;
        transition: transform 0.3s ease;
        vertical-align: middle;
    }

    .map-link { position: relative; padding: 5px 0; }
    .map-link:hover { transform: scale(1.1); color: var(--primary-color); }
    .map-link::after {
        content: '';
        position: absolute; width: 0%; height: 2px; bottom: 0; left: 0;
        background-color: var(--primary-color); transition: var(--transition);
    }
    .map-link:hover::after { width: 100%; }

    .btn-login {
        padding: 8px 24px;
        border: 2px solid var(--border-light);
        border-radius: var(--standard-border);
        background: transparent;
    }
    .btn-login:hover { 
        border-color: var(--text-main); 
        color: #000; 
        transform: scale(1.05);
    }

    .btn-announce {
        padding: 10px 24px;
        background-color: var(--primary-color);
        color: #fff;
        border: 2px solid var(--primary-color);
        border-radius: var(--standard-border);
    }
    .btn-announce:hover { 
        background-color: #fff; 
        color: var(--primary-color);
        transform: scale(1.05);
    }

/* #endregion */ 

/* #region ---- Pagination ---- */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 40px 0;
    }

    .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px; 
        height: 40px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        color: var(--text-main);
    }

    .page-link.active {
        background-color: #f0f0f0;
        color: var(--text-main);
        border-color: #ccc;
        cursor: default;
    }

    .page-link:hover:not(.active) {
        background-color: #fafafa;
        color: var(--primary-color);
    }

    .page-link i {
        font-size: 1.1rem;
    }
/* #endregion */

/* #region ---- Footer ---- */
    .site-footer {
        padding: 50px 0 30px;
        background-color: var(--bg-footer);
        width: 100%;
        margin-top: auto;
        border-top: 1px solid var(--border-light);
    }

    .footer-container {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-text {
        flex: 1;
        max-width: 240px;
        color: var(--text-main);
        text-align: start;
        font-size: 0.95em;
        line-height: 1.4;
    }

    .brand-footer-text {
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 1.2;
        display: flex; 
        flex-direction: column; 
        align-items: flex-start;
        font-size: 1.6em; 
        margin-bottom: 10px;
    }
    .brand-footer-text .brand-sub { line-height: 0.8; font-size: 1.2em;}

    .footer-coluns {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        height: 100%;
        padding-right: 30px;
        border-right:  2px solid rgba(0,0,0,0.2);
    }

    .footer-colum {
        display: block;
        height: 100%;
        min-width: 193px;
        padding: 10px 0 15px 30px;
        border-left: 2px solid rgba(0,0,0,0.2);
    }

    .footer-colum h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        color: var(--primary-color);
        margin-bottom: 10px;
    }

    .footer-colum li {
        color: var(--text-secondary);
        margin-bottom: 4px;
        font-size: 1rem;
        font-weight: 400;
        transition: transform 0.2s ease;
    }

    .footer-colum li:hover {
        color: var(--primary-color);
        transform: translateX(5px);
        cursor: pointer;
    }

/* #endregion */

@media (max-width: 1044px) {
    /* Header */
        .menu-container .brand-icon { height: 50px; }
        .brand-sup { font-size: 1.2em; }
        .nav-list { gap: 20px; }

    /* Footer */
        .footer-container {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 15px;
        }

        .brand-footer-text{ align-items: center; }
        .footer-text > p { text-align: center;}
        .footer-coluns {
            width: 100%;
            justify-content: center;
            border-right: none; padding-right: 0;
            gap: 0px;
            flex-wrap: wrap;
        }
        
        .footer-colum {
            border-left: none; padding-left: 0;
            width: 45%;
            margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    /* #region Header */
        .navbar { height: 70px; padding: 0; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
        .menu-container { width: 100%; padding: 0 10px; justify-content: center;}
        .menu-container .brand { display: none; }
        .menu-container nav { width: 100%;}
        .menu-container .nav-list {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        
        .nav-list li:nth-child(1) { order: 2; }
        .nav-list li:nth-child(3) { order: 3; }

        .btn-login {
            width: 140px;
            display: block;
            text-align: center;
        }

        .btn-announce {
            width: 140px;
            display: block;
            text-align: center;
            padding: 8px 15px; 
            font-size: 0.9rem;
        }
    /* #endregion */

    /* Footer  */
    .footer-container {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    /* header */
    .btn-announce{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 120px;
        height: 35px;
        font-size: 0.8rem;
    }
    .btn-login{        
        box-sizing: border-box;
        width: 120px;
        font-size: 0.8rem;
    }
    .map-link { display: none; }

    /* footer */
    .footer-colum { width: 100%; }
}